@import '../scss/variables';

.cart-main-container{
    min-height: 700px;
    background-color: $secondary-color;
    font-family: $main-font;
    .item-cart-container {
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 2rem;
        .button-container{
            display: flex;
            justify-content: center;
            gap: 1rem;
        }
        .item-container{
            background-color: $tertiary-color;
            color: $main-color;
            border-radius: 20px;
        }
        div{
            gap: 1rem;
            div {
                display: flex;
                justify-content: center;
                text-align: center;
                font-size: medium;
                font-weight: 200;
                .item-title {
                    width: 80px;
                }
                .item-un {
                    font-weight: 400;
                }
            }
            .price-total {
                color: $main-color;
                font-size: large;
                font-weight: 800;
            }
    
        }
    }
    
}