.item-cart-container {
    div{
        margin-top: 2rem;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        div {
            text-align: center;
            font-size: medium;
            font-weight: 200;
            .item-title {
                width: 120px;
            }
            .item-un {
                font-weight: 400;
            }
        }

    }
}